.Forecast1 {
	background-color: rgba(255,255,255,0.2);
	box-sizing: border-box;
	display: flex;
	height: 120px;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;

	div {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		padding: 12px;
		flex-grow: 1;

		span {
			color: #fff;
		}
	}

	.date {
		text-align: center;

		span {
			font-size: 16px;
		}
	}

	.weather {
		flex-direction: column;
		height: 100%;
		text-align: center;
		padding-top: 20px;

		.owf {
			color: #fff;
			font-size: 72px;
		}

		span {
			font-size: 14px;
		}
	}

	.temperature {
		span {
			font-size: 32px;
		}
	}

	.humidity {
		span {
			text-align: center;
			font-size: 14px;
		}
	}
}
